{{define "footer"}}
    <div class="container mt-auto mb-3">
        <div class="row">
            <div class="col text-center">
                <hr>
                <small class="text-muted">Copyright &copy;<a href="https://github.com/kamildemocko">Democko Kamil</a></small>
            </div>
        </div>
    </div>
{{end}}